@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilo para resetar margens e padding padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configuração de fonte global */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f0f4f8;
}

/* Centralização do container */
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

/* Estilo do título */
h1 {
  font-size: 2rem;
  color: #333;
  text-shadow:1px 1px 2px #07070736;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.2rem;
  padding-top: 10px;
  color: #333;
  text-shadow:1px 1px 2px #07070736;
  margin-bottom: 20px;
}

/* Estilo do input */
input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #007bff;
}

/* Estilo do botão */
button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  font-weight: bold;
}

/* Estilo da mensagem de resultado */
p {
  font-size: 1.2rem;
  color: #333;
  margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 1.8rem;
  }

  input[type="text"] {
    width: 100%;
  }

  button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  button {
    font-size: 0.9rem;
  }
}

